*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #9fc6db;
}

.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eb6866;
    border-radius: 50%;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
    inset -8px -8px 16px 1px 0 rgba(0,0,0,0.25),
    inset 8px 8px 16px 0 rgba(255,255,255,0.2);
}

.clock::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #848484;
    border: 2px solid #fff;
    z-index: 1000;
    box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.25),
    inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
    inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.indicators{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.indicators div{
    position: absolute;
    width: 6px;
    height: 15px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.25),
    inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
    inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.indicators div:nth-child(1){
    transform: rotate(30deg) translateY(-150px);
}

.indicators div:nth-child(2){
    transform: rotate(60deg) translateY(-150px);
}

.indicators div:nth-child(3){
    transform: rotate(90deg) translateY(-150px);
}

.indicators div:nth-child(4){
    transform: rotate(120deg) translateY(-150px);
}

.indicators div:nth-child(5){
    transform: rotate(150deg) translateY(-150px);
}

.indicators div:nth-child(6){
    transform: rotate(180deg) translateY(-150px);
}

.indicators div:nth-child(7){
    transform: rotate(210deg) translateY(-150px);
}

.indicators div:nth-child(8){
    transform: rotate(240deg) translateY(-150px);
}

.indicators div:nth-child(9){
    transform: rotate(270deg) translateY(-150px);
}

.indicators div:nth-child(10){
    transform: rotate(300deg) translateY(-150px);
}

.indicators div:nth-child(11){
    transform: rotate(330deg) translateY(-150px);
}

.indicators div:nth-child(12){
    transform: rotate(360deg) translateY(-150px);
}

.hour, 
.min,
.sec{
    position: absolute;
}

.hour, .hr{
    width: 160px;
    height: 160px;
}

.min,
.mn{
    width: 190px;
    height: 190px;
}

.sec,
.sc{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc{
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.hr::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 80px;
    background: #24315e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
    box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.25),
    inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
    inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.mn::before{
    position: absolute;
    content: '';
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
    box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.25),
    inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
    inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.sc::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 150px;
    background: #e7e9e8;
    z-index: 12;
    border-radius: 6px 6px 0 0;
    box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.25),
    inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
    inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}